@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');


*{
    font-family: 'Signika', sans-serif;
}


body{
    background-color: #537188 !important;
    padding: 5px;
}

.container{
    display: grid;
    grid-template-areas: "cabecera cabecera"
                            "menu menu"
                            "contenido lateral"
                            "footer footer";
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
}
.item{
    border: 1px none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.c1{
    grid-area: cabecera;
    background-color: #9E6F21;
}

.c2{
    grid-area: menu;
    background-color: #7D6E83;
}

.c3{
    grid-area: contenido;
    background: #E4D0D0;
}

.c4{
    grid-area: lateral;
    background-color: #D0B8A8;
}

.c5{
    grid-area: footer;
    background-color: #fd722d;
}

.ul-grupos{
    list-style: none;
    text-align: center;
}

.h4-grupos{
    font-weight: 400;
    margin-left: 5px;
}

.check-grupo {
    display: flex;
    position: relative;
    justify-content: center;
    top: -25px;
    left: 200px;
  }


.card{
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}